*{
    margin: 0%;
    padding: 0%;
}

.navBar{
    background-color: aqua;
    padding: 10px;
}

.container{
    padding: 10px;
}

.Book-container{
    padding: 15px;
    width: 30%;
    background-color: black;
    color: white;
    border-radius: 30px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}

.Book-container h2{
    color:aqua ;
}

.Book-container button{
    background-color: aqua;
    color: black;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom:5px ;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-top: 10px;
}

.add-button{
    background-color: aqua;
    color: black;
    border-radius: 100px;
    padding: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.popup-over-lay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    bottom: 0;
    z-index: 1;
    display: none   ;
}

.popup-Box{
    background-color: aqua;
    width: 40%;
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
}

.popup-Box input{
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}

.popup-Box textarea{
    background-color: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black 2px;
}

.popup-Box input::placeholder{
    color: black;
}

.popup-Box textarea::placeholder{
    color: black;
}

.popup-Box button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin: 5px;
}

.popup-Box input :focus{
    outline: none;
}

.popup-Box textarea :focus{
    outline: none;
}